body{
    font-family: 'Lato', sans-serif;
    max-width: 1137px;
    margin: auto;
    
}
.part1{
    padding: 70px 100px;
}
.part1 h1{
    font-size: 30px;
    color: #666d89;
    margin-bottom: 44px;
}
.part1 h4{
    font-size: 18px;
    color: #767e9e;
    font-family: 'Lato light', sans-serif;
    line-height: 30px;
    margin-bottom: 62px;
}
.part1 .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 100px;
}
.part1 .cards .card{
    display: flex;
    width: 400px;
    height: 88px;    
}
.part1 .cards .card img{
    border: 2px solid #666da4;
    border-radius: 50%;
    margin-right: 12px;
    padding: 14px;
    width: 36px;
    height: 36px;
}
.part1 .cards .card .text h3{
    font-size: 18px;
    color: #666da4;
    font-family: 'Lato black', sans-serif;
    margin-bottom: 24px;
}
.part1 .cards .card .text p{
    font-family: 'Lato Light',sans-serif;
    font-size: 12px;
    color: #767e9e;
    line-height: 21.5px;
}
.part2{
    background-color: #2d2f3b;
    padding: 70px 100px;
    height: auto;

}
.part2 h1{
    font-family: 'Lato black', sans-serif;
    font-size: 30px;
    color: #666d89;
    margin-bottom: 44px;
}
.part2 h4{
    color: #767e9e;
    font-size: 13px;
    margin-bottom: 44px;
}
.part2 .buttons{
    display: flex;
    gap: 13px;
    margin-bottom: 18px;
    }
.part2 .buttons .button{
    border: 1px solid #767e9e;
    border-radius: 4px;
    justify-content: center;
    height: 21px;

}
.part2  .buttons .button a{
    text-decoration: none;
    color: #767e9e;
    font-size: 11px;
    padding: 0 4px;
}

.part2 .buttons .button.active a,
.part2 .buttons .button a:hover{
    color: white;

}
.part2 .pics{
    display: flex;
    height: 600px;
    max-width: 936px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 26px;
}
.part2 .pics .pic{
    width: 214px;
    height: 182px;
   
}
@media only screen and (max-width: 1133px){
    .part2{
        height: 920px;
    }
}
@media only screen and (max-width: 1037px){
	.part1 .cards{
		justify-content: center;
        
        /* padding-right: 300px; */
	}
    .part2{
        height: 965px;
    }
}
@media only screen and (max-width: 893px){
    .part2{
        padding: 70px 40px;
        height: 1010px;
    }
}
@media only screen and (max-width: 768px){
    .part1 {
        padding: 70px 40px;
    }
    .part1 .cards .card{
        margin-bottom: 15px;
        
    }
    .part1 .cards .card .text h3 {
        margin-bottom: 5px;
    }
    .part1 .cards{
        margin-bottom: 0;
    }
    .part2{
        padding: 70px 40px;
        height: 1010px;
    }
    .part2 .buttons{
        justify-content: space-around;
    }
    .part2 .pics{
        justify-content: space-around;
    }
    .part2 .pics .pic {
        width: 134px;
        height: 127px;
    }
    
}